In [ ]:
z [
    10,
    20,
    30,
    40,
]
#왜 ,를 끝에 넣는가?
#1. 관습
#2. 복붙할때 에러 안나게 하려고

In [ ]:
#list(range(101)) 와 슬라이싱으로 문제풀기
x = list(range(101))

#1: 짝수 전부 더하기

print(sum(x[::2])) # step == 2


#2: 3의배수와 5의 배수를 모두 더하기
print(sum(x[::3]+x[::5])-sum(x[::15]))

#3: 1부터 90까지의 짝수 모두 더하기
print(sum(x[0:91:2]))
sum(x[0:91][::2])

2550
2418
2070

2070

In [ ]:
l = [1,2,3]
l.extend(map(int,input('숫자입력 한 값이 한자리씩 분리되어 리스트 뒤로 들어갑니다.')))
print(l)

숫자입력 한 값이 한자리씩 분리되어 리스트 뒤로 들어갑니다.456789
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

# [10,20,40,50,30]
#정렬 후 20과 30 사이에 25 삽입
#
l = [10,20,40,50,30]

# l.sort()
l = sorted(l)
l.insert(l.index(20)+1,25)
#l.insert(l.index(30),25)
# 30에 넣고 밀어버린다? 의 방식이 더 추천됨
l

<class 'builtin_function_or_method'>

In [ ]:
a = [1,2,3,55,2,3,45,4,]
a. remove(2)
print(a)

#전체 지우기는 filter를 쓰면 좋다

list(filter(lambda x:x !=2,a))

[1, 3, 55, 2, 3, 45, 4]

[1, 3, 55, 3, 45, 4]

In [ ]:
#reversed와 reverse 의 차이는?
#원본 수정이 되냐 아니냐의 차이

l = [1,2,5,7,9,]

print(list(reversed(l))) #원본 수정이 되지 않음
print(l)
print(l.reverse()) #리턴이 None
print(l) #원본 수정됨

#sorted와 sort도 마찬가지로 원본 수정의 유무차이

x = [1,6,2,3,8,9,5]

print(list(sorted(x))) #원본 수정 안됨
print(x)
print(x.sort()) #리턴이 None
print(x) #원본 수정됨

[9, 7, 5, 2, 1]
[1, 2, 5, 7, 9]
None
[9, 7, 5, 2, 1]
None
[1, 2, 3, 5, 6, 8, 9]

In [ ]:
# 튜플은 안에 있는 값이 변경 불가능한 자료형이 아닙니다.
# 튜플은 참조 불변입니다.
# 리스트에 비해 처리 속도가 조금 더 빠릅니다.
# 데이터의 변경이 민감한 곳과, 참조의 갯수가 변하면 안되는 곳에 쓴다

In [ ]:
#딕셔너리는 원래 순서 보장이 되지 않았으나, 3.6부터 순서 보장기능이 생김

# d['age'] 스타일의 직접 접근은 보통 피하는 편. -> 잘못하면 서비스 멈춤!

In [ ]:
#딕셔너리 연습문제

국영수 = {'국어':97,'영어':38,'수학':90,}
#문제1: 평균 구하기
#문제2: 사회 70점 과학 85점 추가한 뒤, 평균 구하기
#문제3: 영어, 수학 점수 10점씩 추가
#문제4: 최종 점수에서 가장 높은 점수 구하기

#Q1

a = sum(국영수.values())/len(국영수)

print(a)

#Q2

국영수.update({'사회':70,'과학':85})
a = sum(국영수.values())/len(국영수)
print(a)

#Q3

# 국영수['수학'] +=10
# 국영수['영어'] +=10

# 안전하게?
국영수.update( { '수학' : 국영수.get('수학',0) +10})
국영수.update( { '영어' : 국영수.get('영어',0) +10})



print(국영수)

#Q4

print(max(국영수.values()))




#가장 높은 점수의 과목 출력하기?
print(max(국영수,key=국영수.get))

75.0
76.0
{'국어': 97, '영어': 48, '수학': 100, '사회': 70, '과학': 85}
100
수학

In [ ]:
# 딕셔너리 참고용
d = {'a':10, 'bb':9, 'c':5,"d":6}

print(max(d)) # 유니코드가 가장 큰 key값

print(max(d,key=len)) # 길이가 가장 긴 key값

print(max(d,key=d.get)) # d.get에서 반환된 value중에서 가장 큰 value를 가진 key값

d
bb
a

In [ ]:
#집합에는 순서와 중복이 없다 (알아서 제거해줌) -> 중복 제거용으로도 종종 형변환으로 사용
#교집합(|) 차집합(-) 합집합(&) 연산을 씀

In [ ]:
#리스트 컴프리헨션 - 반복문의 다른 방식
ll = [f'{i}입니다.' for i in range(10)]

# ll = [str(i)+'입니다' for i in range(10)]

ll

['0입니다.',
 '1입니다.',
 '2입니다.',
 '3입니다.',
 '4입니다.',
 '5입니다.',
 '6입니다.',
 '7입니다.',
 '8입니다.',
 '9입니다.']

In [ ]:
#예제

l = []
for i in range(10):
    if i%2==0:
        l.append(i)

print(l)
l = [i for i in range(10) if i%2==0]

print(l)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [ ]:
l = []
for i in range(10):
    if i%2==0:
        l.append(i)
    else:
        l.append(None)

print(l)

## else가 끼여있는 경우, if-else가 중간에 끼여야 하고, if의 사항이 if 앞에 와야함
l = [i if i%2==0 else None for i in range(10)]

print(l)


##리스트 컴프리헨션은 3항 초과는 추천되지 않음

[0, None, 2, None, 4, None, 6, None, 8, None]
[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
#조건문

if 1:
    print('hi')

bool(())

hi

False

In [ ]:
##오늘의 문제
'''
1.주어진 리스트 data = [{"name": "길동", "수학": 3, , "과학": 93}, {"name": "춘향", "수학": 33, "수학": 11}, {"name": "철수", "수학": 94, "과학": 67}]
에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

2.주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

3.주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서 가장 자주 등장하는 단어를 출력하세요.

'''

In [ ]:
#Q1 주어진 리스트 에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

data = [{"name": "길동", "수학": 3,  "과학": 93}, {"name": "춘향", "수학": 33, "과학": 11}, {"name": "철수", "수학": 94, "과학": 67}]


x={}
for i in data:
    a,b,cnt = "",0,0
    for j in list(i.values()):
        if (str(type(j)) == "<class 'int'>"):
            b += j
            cnt += 1
        else:
            a = j

    x[a]=(b/cnt)
# a: 이름 저장용 변수
# b: 점수 저장용 변수
# cnt: 과목 갯수 저장용 변수
# x: 이름:평균값 형식의 새로운 set

print(max(x,key = x.get))

철수

In [ ]:
#Q2 주어진 사전 의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
for i in grades.keys():
    grades.update ( { i: grades.get(i,0)+5})

print(grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [ ]:
#Q3 주어진 문자열에서 가장 자주 등장하는 단어를 출력하세요.

s = "apple banana apple cherry banana cherry apple"

# s를 ' '으로 자름
x = s.split(" ")

v = {}
for i in x:
    if i in v:
        v[i] +=1
    else:
        v[i] = 1
# print(v)

#반복문으로 x를 집합 v에 정리해서 넣는 방식

print(max(v,key=v.get))

apple

In [118]:
# Q1 정답

data = [{"name": "길동", "수학": 3,  "과학": 93},
        {"name": "춘향", "수학": 33, "과학": 11},
        {"name": "철수", "수학": 94, "과학": 67}]
#어차피 합한 값이 가장 크면 평균값도 당연히 가장 크다
#그러므로 굳이 평균값이 몇인지 계산할 필요가 없다!
max_entry = max(data, key = lambda x: x["수학"]+x["과학"])
print(max_entry['name'])

철수

In [120]:
#Q2 정답
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
updated_grades = {name: score + 5 for name,score in grades.items()}

print(updated_grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [125]:
from collections import Counter
#Q3 정답

s = "apple banana apple cherry banana cherry apple"


print(Counter(s.split()))



words = s.split()
most = max(set(words),key = words.count)
print(most)

Counter({'apple': 3, 'banana': 2, 'cherry': 2})
apple