# 함수

In [ ]:
def printnum():
    print('1')
    print('2')
    print('3')

a = printnum()
print(a)

1
2
3
None

In [ ]:
def printnum():
    print('1')
    print('2')

print('3')
printnum()

3
1
2

#연습문제

In [ ]:
# a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수 만들기

def aabb(a=0,b=0):
    return (a+b)*(a-b)
aabb(5)

a,b = 2,3
#maybe....
def mul(a=0,b=0):
    return a*b
def sum(a=0,b=0):
    return a+b
def subs(a=0,b=0):
    return a-b

mul(sum(a,b),subs(a,b))

-5

In [ ]:
x = 100
def f():
    x = 200
    return x
f()
print(x)

100

In [ ]:

a = 100
def f():
    a = a + 1
    return a
f() # error

UnboundLocalError: ignored

In [ ]:
a = 100
def f():
    b = a + 1
    return b
f() # 이건 된다

101

In [ ]:
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a=1000
        print(a)
        def fff():
            # a = 10000
            # global a # global을 쓰면 가장 위로 돌아감
            print(a)
        fff()
    ff()
f()
print(a)

100
1000
1000
10

In [ ]:
# 재귀는 어지간하면 하지 말고 반복문을 쓰는 것을 권장

# 외우면 좋은 재귀
# 1. 팩토리얼
# 2. 문자열 뒤집기

In [ ]:
# 팩토리얼
def facto(n):
    if n==1:
        return 1
    return n * facto(n-1)
facto(5)

120

In [ ]:
# 문자열 뒤집기
def popstr(s):
    if len(s)<=1:
        return s
    return popstr(s[1:])+s[0]
    # popy = s[-1]
    # s = s[:-1]
    # return popy + popstr(s)
x = 'hello world'
print(popstr(x))

dlrow olleh

In [ ]:
def f():
    a=10
    b=20
    c=30
    return a,b,c
f()

(10, 20, 30)

In [ ]:
#함수도 변수처럼 취급가능
x = 10
y = 20
a = [x,y]
def add(x,y):
    return x+y
def sub(x,y):
    return x-y

aa = [add,sub]
aa[0](10,20)

30

In [ ]:
# 람다 스타일 - 보통 재사용과는 거리가 멀다?


add2 = lambda x,y:x+y
sub2 = lambda x,y:x-y

In [ ]:
x = map(int,'1234')

for i in x:
    print(i)
for i in x:
    print(i)
#이렇게 해도 프린트는 한번만 수행된다

1
2
3
4

In [ ]:
#람다 사용 예시
def f(x):
    return x*2

list(map(f,'1234'))

# '1' * 2 = 11
# 즉 , 리스트 안에 11 22 33 44

# map 메소드는 함수를 인자로 받는데, 이때 f는 한번만 쓰니까, 람다식을 쓰면 좋다.
list (map(lambda x:x*2,'1234'))

['11', '22', '33', '44']

In [ ]:
def filter_func(x):
    return x>10

list(filter(filter_func,[1,2,5,7,8,9,11,434,113]))

[11, 434, 113]

In [ ]:
list(zip('abc','1234567',[9,8,7,6,5,4]))

[('a', '1', 9), ('b', '2', 8), ('c', '3', 7)]

#연습문제
 https://codingdojang.com/scode/408

1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수

In [ ]:
s = [1,3,4,8,13,17,20]
list(zip(s,s[1:]))

# sorted(zip(s,s[1:]), key = lambda x:x[1]-x[0])[0] 정답

(3, 4)

In [ ]:
# 2.x에서 range와 그 외 값들에 대한 히스토리
# print(range(10)) # 출력: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 메모리를 모두 차지해야 합니다.

# print(range(100000000000000000000000000000000000000))
# 메모리의 효율이 극도로 안좋아짐

# 그런데 3.x에서 range(10000000000000000000000000000)는 메모리 효율이 안좋나요?
# 시작과, 끝, 스텝값만 가지고 있기 때문에 메모리 낭비가 전혀 없습니다.

# 2.x에서도 3.x와 같은 range타입이 있었습니다. xrange문법입니다. xrange문법이 3.x되면서 range가 된겁니다.
# 2.x에서 사용가능 문법
# print(xrange(10)) # 출력: xrange(10)
# for i in xrange(10): # 출력: 순회 가능
#     print(i)

In [ ]:
# range(start, stop, step) # 슬라이싱과 비슷한 형태를 지니고 있습니다.
print(range(10)) # 값을 가지고 있지 않습니다.
print(list(range(10)))
x = range(10)
print(type(x))
print(list(range(0, 10, 2)))
print(list(range(10, 0, -2)))
# print(list(range(10, 0, 2.1))) # error, numpy 모듈 사용하면 가능합니다.
# print(list(range(10.1, 2.0, 2))) # error, numpy 모듈 사용하면 가능합니다.
print(list(range(0, 10, -2)))

In [ ]:
# 연습문제

data = [
    [2,'hello wor ld',30],
    [3,'hworl',33],
    [5,'hello wo',35],
    [4,'hello w',31],
    [6,'hello w',39]

]
#Q1 첫번째 요소로 정렬

sorted(data)

#Q2 두번째 요소로 정렬

sorted(data, key = lambda x:len(x[1]))

#Q3 세번째 요소로 정렬

sorted(data, key = lambda x:x[2])

#Q4 첫번째 요소와 세번째 요소의 차이가 큰 순서로 정렬

sorted(data, key = lambda x: x[2]-x[0],reverse=True)
sorted(data, key = lambda x: x[0]-x[2])

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello wor ld', 30],
 [4, 'hello w', 31]]

In [141]:
x = [['weniv CTO bingy',2],['weniv CEO licat',1],  ['weniv COO mura',2]]

[['weniv CTO bingy', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

In [ ]:
#연습문제 1 회문 만들기
# 1.1 슬라이싱
def is_palindrome(x):
    if x[::-1] == x:
        return True

    else:
        return False
is_palindrome('level')

True

In [ ]:
# 1.2 내부에 문자열 뒤집기 함수 정의해서 쓰기
def is_palindrome(x):
    def str_reverse(s):
        if len(s)<=1:
            return s
        return str_reverse(s[1:])+s[0]
    if x == str_reverse(x):
        return True

    else:
        return False

False

In [ ]:
#연습문제 2 짝수 제거하기

n = [2,3,4,5,6,7,8,9,10]
list(filter(lambda x:x%2==1,n))

[3, 5, 7, 9]

In [ ]:
# 재귀 스타일 문제1 답
def is_palindrome(x):
    if len(x) <2:
        return True
    if x[0] != x[-1]:
        return False
    return is_palindrome(x[1:-1])