In [1]:
# 쉬운예제
f = open('python.csv', 'w')
s = '''제목,평점,이미지,줄거리
무빙,5.0,img,줄거리
무빙,5.0,img,줄거리
무빙,5.0,img,줄거리
'''
f.write(s)
f.close()

In [4]:
# 어려운 예제
# django의 동작원리와도 관련이 있습니다.
import requests
from bs4 import BeautifulSoup

paullab_url = 'http://paullab.co.kr/bookservice/'
response = requests.get(paullab_url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

bookservices = soup.select('.col-lg-6 > h2')     # col-lg-6 클래스 안의 h2 태그 탐색
contents = ''

for no, book in enumerate(bookservices, 1):
    contents += f'''
                <section>
                <h2>{no}. {book.text}</h2>
                <img src=''>
                </section>
                '''

# 이미지 양식: https://paullab.co.kr/bookservice/img/notion.jpg
f = open('python.html', 'w')
s = f'''<html>
<head>
</head>
<body>
{contents}
</body>
</html>
'''
f.write(s)
f.close()

In [ ]:
# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

In [ ]:
print('[{:15}]'.format('10')) # 양식 같음, 자료형만 다름
print('[{:15}]'.format(10)) # 양식 같음, 자료형만 다름

In [6]:
int_a = 5
print(f'{int_a:0<5}') # <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:0>5}') # <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음

'12345'.zfill(10)

50000
00005

'0000012345'

In [18]:
# 문제1: 1 ~ 9 까지 더하는 프로그램
g1 = (i for i in range(10))
print(sum(g1))
# 문제2: 1 ~ 9 까지 홀수의 합
g2 = (i for i in range(1,10,2))
print(sum(g2))

# 문제3: 1000 미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하는 프로그램을 작성

g3 = (i for i in range(3,1000,3))
g5 = (i for i in range(5,1000,5))
g15 = (i for i in range(15,1000,15))

x = sum(g3)+sum(g5)-sum(g15)
print(x)

45
25

233168

In [ ]:
# 문제1: 1 ~ 9 까지 더하는 프로그램
sum(list(range(10))) # list로 형변환 하는 것은 데이터가 클수록 부하가 큽니다.
sum([i for i in range(1, 10)]) # 일반 list로 형변환 하는 것보다는 빠르지만 이것도 역시나 부하가 있습니다.
sum(range(1, 10))
(9 * (1 + 9)) / 2

# 문제2: 1 ~ 9 까지 홀수의 합
sum([i for i in range(1, 10, 2)])
sum([i for i in range(10) if i % 2 == 1])
sum(filter(lambda x:x%2==1, range(10)))
sum(range(1, 10, 2))
s = 0
for i in range(10):
    if i % 2 == 1:
        s += i

# 문제3: 1000 미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하는 프로그램을 작성
sum(range(0, 1000, 3)) + sum(range(0, 1000, 5)) - sum(range(0, 1000, 15))
s = 0
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        s += i
s

In [20]:
m = [[1,2,3],[4,5,6],[7,8,9]]
print(sum(m,[]))
print(sum(sum(m,[])))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [ ]:
# 문제5: 자주 나오는 알파벳과 알파벳 갯수를 많이 나오는 순서대로 출력하세요.
import collections

s = "Hello, World! This is a sample string for testing purposes."
# 방법1
# s = s.replace(',', '').replace('!', '').replace('.', '').replace(' ', '')

# 방법2
# table = str.maketrans(',!.', '   ')
# s = s.translate(table).replace(' ', '')

# 방법3
table = str.maketrans('', '', ',!. ')
s = s.translate(table)

c = collections.Counter(s)
c.most_common

In [ ]:
d = {}
s = "Hello, World! This is a sample string for testing purposes."
s = s.replace(',', '').replace('!', '').replace('.', '').replace(' ', '')

# 풀이1, 순회를 돌면서 dict에 있으면 += 1, 없으면 =1 대입하면서 푼다
for i in s:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
d

# 풀이2, set으로 만들어서 count를 한다.
s = "Hello, World! This is a sample string for testing purposes."
for i in set(s):
    d[i] = s.count(i) #카운트는 원본 s에서 하는 것이 포인트
d

In [29]:
#문제6 트리 만들기

for i in range(1,10):
    print(' '*(10-i)+'*'*(i*2-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [30]:
for i in range(1, 10):
    print(f"{'*' * ((2 * i) - 1):^18}")

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

In [77]:
# 다음 자료구조 클래스를 만들어주세요.
# 데이터는 <1, 2, 3, 4> 형식으로 숫자만 저장됩니다.
# print()를 하면 <1, 2, 3, 4>와 같이 출력이 되어야 합니다.
# 메서드는 append, remove가 있습니다.
# 아래 연산은 길이가 다르면 error가 납니다.
# 나누기 연산은 지원하지 않습니다.
# <1, 2, 3, 4> + <1, 2, 3 ,4> == <2, 4, 6, 8>와 같이 같은 순서에 요소를 더합니다.
# <1, 2, 3, 4> - <1, 2, 1 ,2> == <0, 0, 2, 2>와 같이 같은 순서에 요소를 뺍니다.
# <1, 2, 3, 4> * 3 == <3, 6, 9, 12>가 됩니다.

class OperList:

    def __init__(self,*args):
        self.list = list(args)


    def __repr__(self):
        return('<'+str(self.list)[1:-1]+ '>')
    def __str__(self):
        return('<'+str(self.list)[1:-1]+ '>')

    def append(self,args):
        self.list.append(args)

    def remove(self,args):
        self.list.remove(args)

    def __len__(self):
        return self.list.__len__()





    def __add__(self, other):
        if len(self.list) != len(other.list):
            raise
        for i in range(len(self.list)):
            self.list[i] += other.list[i]
        return self.list
    def __sub__(self, other):
        if len(self.list) != len(other.list):
            raise
        for i in range(len(self.list)):
            self.list[i] -= other.list[i]
        return self.list
    def __mul__(self, other):
        if len(self.list) != len(other.list):
            raise
        for i in range(len(self.list)):
            self.list[i] *= other.list[i]
        return self.list





l = OperList(1, 2, 3, 4)
ll = OperList(3, 4, 6, 7)

print(l + ll)
print(l - ll)
print(l * ll)



# + - * 기호는 그냥 add,sub,mul로 써도 알아서 인식된다.
# append와 remove를 쓸 때, self.list = self.list.remove(n) 이라고 써서 None이 나왔는데, 이거 때문에 당황했었다.

[4, 6, 9, 11]
[1, 2, 3, 4]
[3, 8, 18, 28]

In [ ]:
class OperList:
    def __init__(self, *args):
        self.__operlist = list(args)

    def __str__(self):
        return f'<{str(self.__operlist)[1:-1]}>'

    def __repr__(self):
        return f'<{str(self.__operlist)[1:-1]}>'

    def __len__(self):
        return self.__operlist.__len__()

    def __add__(self, other):
        if len(self.__operlist) != len(other.__operlist):
            raise
        for i in range(len(self.__operlist)):
            self.__operlist[i] += other.__operlist[i]
        return self.__operlist

    def __sub__(self, other):
        if len(self.__operlist) != len(other.__operlist):
            raise
        for i in range(len(self.__operlist)):
            self.__operlist[i] -= other.__operlist[i]
        return self.__operlist

    def __mul__(self, other):
        if not isinstance(other, int):
            raise
        for i in range(len(self.__operlist)):
            self.__operlist[i] *= other
        return self.__operlist

    def append(self, data):
        self.__operlist.append(data)

    def remove(self, data):
        self.__operlist.remove(data)


l = OperList(1, 2, 3, 4)
ll = OperList(3, 4, 6, 7)
# l + ll
l * 2

In [ ]:
과제1:
마지막 문제 손코딩(만약 여유가 되시면 좀 더 고도화 한 다음 손코딩 해주세요.)

과제2:
student.csv에는 아래와 같은 텍스트가 담겨있습니다.
'''
학년,반,번,이름,국어,영어,수학,사회
3,3,1,licat,90,80,30,40
3,3,2,mura,80,70,60,30
3,3,3,binky,30,80,70,30
'''
학생들의 평균을 구해 아래와 같이 student.csv출력되게 해주세요.(xx이라 표기된 곳에 평균 값이 들어가야 합니다.)
'''
학년,반,번,이름,국어,영어,수학,사회,평균
3,3,1,licat,90,80,30,40,xx
3,3,2,mura,80,70,60,30,xx
3,3,3,binky,30,80,70,30,xx
'''

In [192]:
f = open('student.csv','w')
s = '학년,반,번,이름,국어,영어,수학,사회 \n 3,3,1,licat,90,80,30,40 \n 3,3,2,mura,80,70,60,30 \n 3,3,3,binky,30,80,70,30 \n'

f.write(s)


f.close()

In [193]:
f = open('student.csv','r')
tmp_line1= f.readline()

new_z = []
new_z.append(tmp_line1.strip()+(',평균 \n'))

z = []
while True:
    x = f.readline()
    if not x:
        break
    x = x.strip()
    z.append(x)

for i in z:
    list_z = i.split(',')
    y = list_z[-4:]
    sliced = map(int,y)
    q = sum(sliced)/4
    i = i+','+str(q)+'\n'
    new_z.append(i)
print(new_z)
f = open('student.csv','w')
for i in new_z:
    f.write(i)
f.close()

['학년,반,번,이름,국어,영어,수학,사회,평균 \n', '3,3,1,licat,90,80,30,40,60.0\n', '3,3,2,mura,80,70,60,30,60.0\n', '3,3,3,binky,30,80,70,30,52.5\n']

In [139]:
s = '3,3,1,licat,90,80,30,40'

s = list(s.split(','))
print(s)

['3', '3', '1', 'licat', '90', '80', '30', '40']