In [ ]:
#if False: 와 같은것?
#if f()
def f():
    return

bool(f())
bool([])

False

In [ ]:
# 람다 함수에서 if 쓰기
my_func = lambda x: '짝수' if x%2==0 else '홀수'

In [ ]:
# if를 중첩해서 사용하기 1
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 10000:
                print('영화시청')

In [ ]:
# if를 중첩해서 사용하기 2
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

#반대로, if문이 and와 or로 너무 많이 연결되어 있을경우, 1번처럼 풀어서 쓸 수 있다.

In [ ]:
# match는 최신문법 3.10에 추가됨

# 파이썬에 없는 switch 문을 switch 처럼 쓰기 위해 등장

def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

In [ ]:
#연습문제

def attack(atk_type,dmg):
    match atk_type:
        case '물리공격'|'마법공격':
            print(str(dmg)+'의 데미지 입혔습니다.')
        case '정신공격':
            print(str(dmg)+'ms 만큼 상대방이 혼란을 느낍니다.')


attack('물리공격',100) # 물리공격, 마법공격, 정신공격
attack('마법공격',100) # 물리공격, 마법공격, 정신공격
attack('정신공격',100) # 물리공격, 마법공격, 정신공격



#각 공격에 따라 아래의 값이 출력되도록
#물리, 마법 : 100의 데미지 입혔습니다.
#정신 : 100ms 만큼 상대방이 혼란을 느낍니다.

100의 데미지 입혔습니다.
100의 데미지 입혔습니다.
100ms 만큼 상대방이 혼란을 느낍니다.

#반복문

In [ ]:
#for 는 순회 가능한 객체로 반복.
#for 는 in과 같이 쓴다.
for x in 'hello':
    print(x)

h
e
l
l
o

In [ ]:
x = iter('hello')
print(next(x)) # next를 쭉 해보면 나오는데, StopIteration 에러로 종료되는 방식

<str_iterator object at 0x7a77f1c5c6a0>

In [ ]:
#1부터 100까지 짝수 더하기

#권장하지 않는 코드. if문 연산을 더 해야해서
res = 0
for i in range(101):
    if i%2 ==0:
        res += i

#권장 코드
for i in range(0,101,2):
    res+=i

In [ ]:
#중첩 for를 어렵게 표현

for i in [range(3), range(5), range(7)]:
    for j in i:
        print(j)

In [ ]:
#구구단
for i in range(2,10):
    for j in range(1,10):
        print(i,j,i*j)

In [ ]:
#연습문제 for 중첩 두번
s = '135678'
# Q1. s의 숫자로 주어진 단수의 구구단만 출력

for i in s:
    for j in range(1,10):
        print(int(i),j,int(i)*j)

In [ ]:
#Q2 특이한 구구단
# l이 주어지고, 곱해지는 수는 l에 1씩을 더한 수가 곱해지게 출력
l = [2,3,6]


for i in l:
    for j in l:
        print(i,j+1,i*(j+1))

2 3 6
2 4 8
2 7 14
3 3 9
3 4 12
3 7 21
6 3 18
6 4 24
6 7 42

In [ ]:
# enumerate (순회 가능객체, 인덱스 시작값): 순위매길때 많이 씀
영화누적관객수 = ['레미제라블','뷰티인사이드','매트릭스','인셉션','어거스트러쉬']
for i in enumerate(영화누적관객수,1):
    print(i)

(1, '레미제라블')
(2, '뷰티인사이드')
(3, '매트릭스')
(4, '인셉션')
(5, '어거스트러쉬')

In [ ]:
#while 은 조건이 거짓일때 반복 구문을 탈출
#언제 쓰는가? OS나 쉘 등에서 쓰는 용도?

In [ ]:
# 왈러스 연산자 (Walrus, :=) 3.8버전에 도입

x = (n:=10)*2
print(n,x)

10 20

In [ ]:
data = data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
  },
  {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
  },
  {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
  }
]

In [ ]:
'''
Q1 평균나이 구하기
Q2 남녀성비 구하기
'''

ages = (map(lambda x :x['age'],data))
ages = map(int,ages)
ages = list(ages)
x = sum(ages)/len(ages)


gender = list(map(lambda x :x['gender'],data))
total = len(gender)
man = gender.count('남성')
woman = total - man

print(man/total,woman/total)

0.4 0.6

#클래스

In [ ]:
#클래스는 도면 혹은 공장. 첫글자는 대문자로 표기

class Car:
    max_speed = 300
    min_speed = 5
    car_gear = ['P','D','R',"N"]

    def start(self):
        print('차출발')

    def stop(self):
        print('차멈춤')


#공장에서 차 찍어내기
# 각각 인스턴스
modelx = Car() #=> 인스턴스 = 클래스()
modely = Car()
models = Car()

In [ ]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

    def __mul__(self, other):
        if isinstance(other, int):
            return [i*other for i in self.value]
        # raise TypeError('int형 외에 곱을 허락하지 않습니다!')


m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

print(m1 * 3)
print(m1 * [1, 2, 3])

[30, 60, 90]
None

In [ ]:
# 아래 기본 data를 기반으로 문제를 풀어주세요.
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "gender": "남성",
    "age": "31"
  }
]
# 문제 1 gender, age값을 추출해보세요. 아래 양식처럼 추출하시면 됩니다. 가능하면 map을 사용해주세요.

list(map(lambda x: {"gender": x["gender"], "age": x["age"]}, data))
#혹시 key와 value를 이쁘게? 검색하고 그걸 통째로 추출하나 싶었지만 그런게 아니었다.
#"gender"와 "age"는 그냥 str로 직접 입력한 방식

[{'gender': '여성', 'age': '43'},
 {'gender': '남성', 'age': '22'},
 {'gender': '남성', 'age': '31'}]

In [ ]:
'''
 [
  {
    "gender": "여성",
    "age": "43"
  },
  {
    "gender": "남성",
    "age": "22"
  },
  {
    "gender": "남성",
    "age": "31"
  }
]
'''

In [ ]:


# 문제 2 User라는 class를 만들어 해당 데이터를 관리해주세요. 아래처럼 저장되어야 합니다.
# 다만 꼭 변수 이름이 user_1...user_n 일 필요는 없습니다.
# 저장양식: '[user_1, user_2, user_3]'

# 문제 3 BankAccount 클래스를 생성하세요. 이 클래스는 owner(계좌주 이름), balance(잔액) 속성을 가져야 합니다.
# 이 클래스는 deposit(amount) (입금) 및 withdraw(amount) (출금) 메서드를 가져야 합니다.
# 단, 출금 시 잔액보다 큰 금액을 출금하려고 하면 "잔액 부족" 메시지를 출력해야 합니다.

In [ ]:
# Q1
list(map(lambda x: {"gender": x["gender"], "age": x["age"]}, data))

[{'gender': '여성', 'age': '43'},
 {'gender': '남성', 'age': '22'},
 {'gender': '남성', 'age': '31'}]

In [ ]:
# Q2
class User:
    def __init__(self, data):
        self._id = data['_id']
        self.index = data['index']
        self.name = data['name']
        self.gender = data['gender']
        self.age = data['age']

user_1 = User(data[0])
user_2 = User(data[1])
user_3 = User(data[2])

user_list = [user_1, user_2, user_3]
user_list[0].name
for i in user_list:
    print(i.name)

나주헌
엄루다
형유환

In [ ]:
# Q3

class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance

    def withdraw(self, amount):
        if amount > self.balance:
            print("잔액 부족")
        else:
            self.balance -= amount
            return self.balance